/* since we know that the browser has some it's own css so we have to adjust it according to our requirement
body{
    margin: 0;      
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
}*/
.top-container{
    background-color: #E4F9F5;
    padding: 20px;
    height: 200px;
    width: 200px;
    border: solid 10px;
    border-color: black;
}
.middle-container{
    background-color: red;
    height: 200px;
    width:200px;
    border: solid 20px;
    border-color: black;
    margin-left: 260px;
}
.bottom-container{
    background-color: blue;
    height: 200px;
    width:200px;
    border: solid 10px;
    margin-left: 500px;
}
body{
    margin: 0px;
}
